Arrays/CSharp_Net_module1_1_4_lab/.vs/
Arrays/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab/bin/
Arrays/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab/obj/
CSharp_Net_module1_1_2_lab/.vs/
CSharp_Net_module1_1_2_lab/CSharp_Net_module1_1_2_lab/bin/
CSharp_Net_module1_1_2_lab/CSharp_Net_module1_1_2_lab/obj/
Hello_operators_lab/Hello_Operators_advstud/.vs/
Hello_operators_lab/Hello_Operators_advstud/Hello_Operators_advstud/bin/
Hello_operators_lab/Hello_Operatorss_stud/Hello_Operators/obj/
Hello_operators_lab/Hello_Operatorss_stud/Hello_Operators/bin/
Hello_operators_lab/Hello_Operators_advstud/Hello_Operators_advstud/obj/
Hello_operators_lab/Hello_Operatorss_stud/.vs/
Arrays/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab.csproj.user
Hello_operators_lab/Hello_Operators_advstud/Hello_Operators_advstud.v12.suo
Hello_operators_lab/Hello_Operatorss_stud/Hello_Operators_stud.v12.suo
Hello_operators_lab/Hello_Operatorss_stud/Hello_Operators_stud.suo
Classses and other stuff/CSharp_Net_module1_2_1_lab/.vs/CSharp_Net_module1_2_1_lab/v15/Server/sqlite3/db.lock
Methods and parameters/Hello_Cons_Dr_Methods/.vs/Hello_Cons_Dr_Methods/v15/Server/sqlite3/storage.ide-wal
Methods and parameters/Hello_Cons_Dr_Methods/.vs/Hello_Cons_Dr_Methods/v15/Server/sqlite3/storage.ide-shm
Methods and parameters/Hello_Cons_Dr_Methods/.vs/Hello_Cons_Dr_Methods/v15/Server/sqlite3/storage.ide
Methods and parameters/Hello_Cons_Dr_Methods/.vs/Hello_Cons_Dr_Methods/v15/Server/sqlite3/db.lock
Classses and other stuff/CSharp_Net_module1_2_1_lab/.vs/CSharp_Net_module1_2_1_lab/v15/Server/sqlite3/storage.ide-wal
Classses and other stuff/CSharp_Net_module1_2_1_lab/.vs/CSharp_Net_module1_2_1_lab/v15/Server/sqlite3/storage.ide-shm
